*{
    padding: 0;
    margin: 0;
}

.container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.movies{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 40px;
}